Importation du fichier de donnée retraité durant l'étape de datavisualisation

In [5]:
import pandas as pd

df = pd.read_csv("Data Satisfaction - Dan processed.csv")

df.head()

,Unnamed: 0,Commentaire,star,date,client,reponse,source,company,ville,date_commande,ecart,Language,Commentaires_reduit,com_nb_mots,Commentaires_reduit_racine,Commentaires_reduit_4mots
0,0,"Bonjour , Ca doit faire 5 ans environ que je s...",1,2021-06-20 00:00:00+00:00,AUDREY Du 62,NaN,TrustPilot,ShowRoom,NaN,NaN,NaN,fr,"bonjour , ca doit 5 ans environ membre showroo...",246,"bonjour , ca doit 5 an environ membr showroopr...",bonjour doit environ membre showrooprive jamai...
1,1,Vente lacoste article manquant photo prise sur...,1,2021-06-20 00:00:00+00:00,Nanasky De Verteuil,NaN,TrustPilot,ShowRoom,NaN,NaN,NaN,fr,vente lacoste manquant photo prise 6 articles ...,20,vent lacost manqu photo pris 6 articl moiti li...,vente lacoste manquant photo prise articles mo...
2,2,"Vente Lacoste Honteuse , article erroné , arti...",1,2021-06-19 00:00:00+00:00,Vanessa L,NaN,TrustPilot,ShowRoom,NaN,NaN,NaN,fr,"vente lacoste honteuse , erroné , manquant , b...",219,"vent lacost honteux , erron , manqu , bon livr...",vente lacoste honteuse erroné manquant livrais...
3,3,J'ai commandé des mules de la marque Moosefiel...,2,2021-06-19 00:00:00+00:00,Valery PERRAULT,"Bonjour , Je suis sincèrement navré d'apprendr...",TrustPilot,ShowRoom,NaN,NaN,NaN,fr,"commandé mules marque moosefield , très déçue ...",29,"command mul marqu moosefield , tres déçu produ...",commandé mules marque moosefield produit étiqu...
4,4,Commande téléphone etat A+ . Livraison d un vi...,1,2021-06-19 00:00:00+00:00,JULIE DRINGENBERG,"Bonjour Julie , Je suis sincèrement désolé de ...",TrustPilot,ShowRoom,NaN,NaN,NaN,fr,téléphone etat a+ . livraison vieux téléphone ...,52,téléphon etat a+ . livraison vieux téléphon po...,téléphone etat livraison vieux téléphone pourr...

Retraitement du fichier:

- Attribution valeur 1 ou 0 suivant la présence de données ou de NAN pour les colonnes client, ville et réponse
- suppression de la colonne langue, ansin que de la colonne Unnamed:0

In [9]:
df = df.drop(["Unnamed: 0","Language"],axis =1)

In [10]:
df["client"] = df["client"].isna().replace(to_replace =[False,True], value=[1,0])
df["ville"] = df["ville"].isna().replace(to_replace =[False,True], value=[1,0])
df["reponse"] = df["reponse"].isna().replace(to_replace =[False,True], value=[1,0])

- Attribution de valeur numérique pour les colonnes source et company

In [11]:
df["source"] = df["source"].isna().replace(to_replace =["TrustPilot","TrustedShop"], value=[1,0])
df["company"] = df["company"].isna().replace(to_replace =["ShowRoom","VeePee"], value=[1,0])

### Modelisation 1
#### Vectorisation de la colonne commentaire réduit 4 mots avec les mots revenant au moins 100 fois dans les commentaires
#### La notions de date ne sera pas pris en compte pour des raisons de facilités.

- Suppression des colonnes commentaires autre que "commentaires_réduit_4mots"
- Suppression des colonnes relatives aux dates ainsi que la colonnes "écart".

In [13]:
df1 = df.drop(["Commentaire","date","date_commande","ecart","Commentaires_reduit","Commentaires_reduit_racine"],axis =1)

In [14]:
df1.head()

,star,client,reponse,source,company,ville,com_nb_mots,Commentaires_reduit_4mots
0,1,1,0,False,False,0,246,bonjour doit environ membre showrooprive jamai...
1,1,1,0,False,False,0,20,vente lacoste manquant photo prise articles mo...
2,1,1,0,False,False,0,219,vente lacoste honteuse erroné manquant livrais...
3,2,1,1,False,False,0,29,commandé mules marque moosefield produit étiqu...
4,1,1,1,False,False,0,52,téléphone etat livraison vieux téléphone pourr...

In [30]:
df1.isna().sum()

star                          0
client                        0
reponse                       0
source                        0
company                       0
ville                         0
com_nb_mots                   0
Commentaires_reduit_4mots    35
dtype: int64

In [32]:
df1 = df1.dropna(axis = 0, how = "all", subset =["Commentaires_reduit_4mots"])

In [33]:
from collections import Counter
chaine = ' '.join(str(i).lower() for i in df1.Commentaires_reduit_4mots)
dico = Counter(chaine.split())
freqmots = pd.DataFrame.from_dict(dico, orient="index", columns = ["iteration"])
freqmots = freqmots.sort_values("iteration", ascending = False)
freqmots2 = freqmots[freqmots["iteration"] >= 100].reset_index()

In [34]:
freqmots2.head()

       index  iteration
0  livraison       4945
1       plus       4814
2      colis       3400
3       site       3173
4    service       3161

In [42]:
from sklearn.feature_extraction.text import CountVectorizer
vectorizer = CountVectorizer()
vectorizer.fit_transform(freqmots2["index"])
tokenized = vectorizer.vocabulary_
X = vectorizer.transform(df1["Commentaires_reduit_4mots"]).todense()

In [43]:
y = df1["star"]

In [44]:
from sklearn.model_selection import train_test_split
X_train,X_test, y_train, y_test = train_test_split(X,y, test_size = 0.2)

In [46]:
from sklearn.ensemble import GradientBoostingClassifier

clf = GradientBoostingClassifier(n_estimators=100, learning_rate=1.0, max_depth=1, random_state=0).fit(X_train, y_train)

y_pred = clf.predict(X_test)

C:\Users\Michelle\anaconda3\lib\site-packages\sklearn\utils\validation.py:593: FutureWarning: np.matrix usage is deprecated in 1.0 and will raise a TypeError in 1.2. Please convert to a numpy array with np.asarray. For more information see: https://numpy.org/doc/stable/reference/generated/numpy.matrix.html
  warnings.warn(
C:\Users\Michelle\anaconda3\lib\site-packages\sklearn\utils\validation.py:593: FutureWarning: np.matrix usage is deprecated in 1.0 and will raise a TypeError in 1.2. Please convert to a numpy array with np.asarray. For more information see: https://numpy.org/doc/stable/reference/generated/numpy.matrix.html
  warnings.warn(

In [52]:
pd.crosstab(y_test,y_pred, rownames =["valeurs réelle"] , colnames = ["valeurs prédites"])

valeurs prédites    1   2   3    4     5
valeurs réelle
1                 748  27  29   56    74
2                 104   6  39   41    54
3                  53  11  43  122   110
4                  27   8  25  184   349
5                  24   5   7   83  1092

In [54]:
clf.score(X_test,y_test)

C:\Users\Michelle\anaconda3\lib\site-packages\sklearn\utils\validation.py:593: FutureWarning: np.matrix usage is deprecated in 1.0 and will raise a TypeError in 1.2. Please convert to a numpy array with np.asarray. For more information see: https://numpy.org/doc/stable/reference/generated/numpy.matrix.html
  warnings.warn(

0.6242095754290876